/* --- ESTILOS DO TUTORIAL DO INSTAGRAM --- */

.insta-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
}

.insta-header h3 {
    font-family: 'Grand Hotel', cursive; /* Fonte do logo, se não tiver, usa a padrão */
    font-size: 2em;
    margin: 0;
}

.insta-feed {
    background-color: #fafafa;
    height: 100%;
    padding-top: 15px;
}

.insta-post {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 0 auto;
    width: 95%;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.post-header img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header h4 {
    margin: 0;
    font-size: 1em;
}

.post-image {
    width: 100%;
    height: auto;
    background-color: #eee;
}

.post-actions {
    padding: 10px 15px;
}

.post-actions .action-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.8em;
    padding: 0 5px;
    color: #262626;
}

/* Estilo do botão de "curtir" quando ativado */
.post-actions .like-button.liked {
    color: #ED4956;
}

.post-caption {
    padding: 0 15px 15px 15px;
    font-size: 0.9em;
}
.post-caption strong { margin-right: 5px; }

/* Barra de Navegação Falsa do Insta */
.insta-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: #ffffff;
    border-top: 1px solid #dbdbdb;
    font-size: 1.5em;
    color: #262626;
}